<!-- <template name="header">
    <div class="bar bar-header" style="height: 80px; background-color: #5E35B1">
        <div class="row">
            <div class="col col-50" style="margin-top: 10px;color: #fff">
                <h3 style="color: #fff;">Todo App</h3>
            </div>
            <div class="col" style="margin-top: 10px;">
                <i class="icon ion-android-more-vertical" style="
                    float: right; 
                    margin-top: 5px; 
                    font-size: 30px;
                    color: #fff
                ">
                </i>
                <h4 style="float:right; color: #fff;margin-right: 20px;">Le Thanh</h4>
                <img src="images/gold-dragon.jpg" style="
                    max-width: 40px;
                    max-height: 40px;
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    float:right;
                    margin-right: 5px;
                ">
            </div>
        </div>
    </div>
</template> -->