<!-- <template name="loginPage">
    <div class="content has-header" style="top: 80px; margin-bottom: 81px;">
        <div class="card list" style="margin: 20px 30px; box-shadow:none">
            <h2 style="text-align: center">Create a free account</h2>
            <p style="text-align: center">This way you'll keep your tasks in your smart phone</p>
            <button class="button button-block button-positive login" style="margin-top: 30px;">
                Face Book
            </button>
            <div class="term" style="text-align: center">
                <p>By creating an account you agree to our Terms of Use and Privacy</p>
                <p style="font-weight: bold;">I'M ALREADY A MEMBER.</p>
            </div>
        </div>
    </div>
</template> -->