<!-- <template name="listTodoPage">
    <div class="content has-header" style="top: 80px; margin-bottom: 81px;">
        <div class="list list-insert">
            <label class="item item-input">
                <input type="text" placeholder="Type to add new tasks">
            </label>
        </div>
        <div class="list">
            <div class="item item-checkbox row" style="padding: 16px;">
                <div class="col col-20">
                    <label class="checkbox">
                       <input type="checkbox">
                    </label>
                </div>
                <div class="col col-67">Task 01</div>
                <div class="col" style="text-align:center">
                    <i class="icon ion-close"></i>
                </div>
            </div>
            <div class="item item-checkbox row" style="padding: 16px;">
                <div class="col col-20">
                    <label class="checkbox">
                       <input type="checkbox">
                    </label>
                </div>
                <div class="col col-67">Task 02</div>
                <div class="col" style="text-align:center">
                    <i class="icon ion-close"></i>
                </div>
            </div>
            <div class="item item-checkbox row" style="padding: 16px;">
                <div class="col col-20">
                    <label class="checkbox">
                       <input type="checkbox">
                    </label>
                </div>
                <div class="col col-67">Task 03</div>
                <div class="col" style="text-align:center">
                    <i class="icon ion-close"></i>
                </div>
            </div>
        </div>
    </div>
</template> -->